.drag-attribute-content {
    flex: 1 0 240px;
}

.drag-attribute-title {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.drag-attribute {
    width: 20%;
    min-width: 240px;
    display: flex;
    flex-direction: column;
}

.drag-attribute-name {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 0.5em;
}

.drag-attribute-item {
    margin: 0.5em;
}
