.drag-list {
    width: 20%;
    min-width: 200px;
}

.drag-list-title {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.drag-list-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

.drag-component {
    height: 60px;
    width: 100px;
    margin: 10px auto;
    border: 2px solid #000;
    border-radius: 8px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 56px;
    cursor: grab;
}
