.login-form-container > form{
    margin: 1rem auto;
    padding: 1rem 1rem;
    width: 14rem;
    border: 1px solid #CCC;
    border-radius: 0.5rem;
}

/* .login-form-item, .login-form-submit {
    display: flex;
    flex-direction: column;
    margin: 0.8rem auto
} */


/* .login-form-item input{
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.2rem;
} */

.login-form-button {
    width: 100%;
    margin: 0.2rem auto;
}

/* .login-form-submit button:hover {
    background-color: cyan;
    border: 1px solid cyan;
} */