.login-form-container > form{
    margin: 1rem auto;
    padding: 1rem 1rem;
    width: 14rem;
    border: 1px solid #CCC;
    border-radius: 0.5rem;
}

.login-form-button {
    width: 100%;
    margin: 0.2rem auto;
}

